---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
// Base styles
import "../styles/style.css";
import "../styles/new-moon.css";
import "../styles/dark-mode.css";

// Get current path
const currentPath = Astro.url.pathname;
const isHomePage = currentPath === "/" || currentPath === "";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {
      isHomePage && (
        <link
          rel="stylesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
        />
      )
    }
    <title>Astro Rascia</title>
    <script is:inline>
      // Check localStorage and set initial theme
      const theme = localStorage.getItem("theme") || "dark";
      if (theme === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body>
    <div id="layout" class="layout">
      <Navigation />
      <slot />
      <Footer />
    </div>
  </body>
</html>
